*{
    padding: 0%;
    margin: 0%;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
  
.navbar li {
    float: left;
}
  
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    border-radius: 10px;

}
  
.navbar li a:hover {
    background-color: grey;
}
.Header{
    height: 60px;
    width: auto;
    text-align: center;
}
.register a{
    float: right;
    color: white;
    padding: 14px 50px;
    text-decoration: none;
    border-radius: 10px;
}
.register a:hover{
    background-color: grey;
}

.Header h1{
    
}